{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}

<div class="container jumbotron">
<table class="table m-5 p-3">
		<tr>
		<th>Item</th>
		<th>Detail</th>
		</tr>
{% for item in cart %}


		<tr>
		<td>
			<img src="{{ item.product.image.url }}">
		</td>
		<td>
		{{item.product.name}} <br>
		
		Price per item:{{item.product.price}}<br>
		

		Quantity: {{item.quantity}}<br><a href="{% url 'add_to_cart' item.product.id %}">[+]</a> / <a href="{% url 'remove_from_cart' item.product.id %}">[-]</a>
			
			</td>
		</tr>
{% endfor %}
	<tr>
	<td>
			Total 
			</td>
			<td> {{total}}</td>
			</tr>
			</table>
		</div>

		


{% endblock %}
