{% extends 'basic_app/base.html' %}
{% load staticfiles %}


{% block body_block %}


{% for p in product %}

	

<div class="searchbox container">
<br>
		
      <input type="text" class="search form-control" placeholder="Search here" >
    </div>
    <br>
<div class="container jumbotron pro">
			<div class="row justify-content-center text-center">
		<div class="col-md-6">
				<h1>{{p.name }}</h1>
				<h2>{{p.department}}</h2>
				<img src="{{ p.image.url }}" >
		
			
			
				
					<h1><strong>Rs.{{p.price}}/-</strong></h1>
					{% if p.cod_availability %}
						<strong>COD : Available</strong> 
					{% else %}
						<strong>COD : Unavailable</strong>
					{% endif %}
					<br>
					<strong>Sold BY : {{ p.seller }}</strong>
					<br>
					<strong>Description :</strong>
					<br>
					<ul>
						<li>{{p.description}}</li>
					</ul>
					<a href="{% url 'add_to_cart' p.id %}">[Add to Cart]</a>
				</div>
				</div>

</div>


	{% endfor %}

	script
				  src="https://code.jquery.com/jquery-3.3.1.js"
				  crossorigin="anonymous"></script>
<script src="{% static 'product.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>


{% endblock %}