{% extends 'basic_app/base.html' %}

{% block body_block %}


{% for p in product %}

	

<div class="container jumbotron pro">
			
		<div class="container ">
				<h1>{{p.name }}</h1>
				<h2>{{p.department}}</h2>
				<img src="{{ p.image.url }}" width="400px" >
		</div>
			
			
				<div class="details pull-left">
					<h1><strong>Rs.{{p.price}}/-</strong></h1>
					{% if p.cod_availability %}
						<strong>COD : Available</strong> 
					{% else %}
						<strong>COD : Unavailable</strong>
					{% endif %}
					<br>
					<strong>Sold BY : {{ p.seller }}</strong>
					<br>
					<strong>Description :</strong>
					<br>
					<ul>
						<li>{{p.description}}</li>
					</ul>
				</div>

</div>


	{% endfor %}

{% endblock %}