<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
{% block body_block %}
	<h1>Fill this form to sell your product:</h1>

	<div class="container jumbotron">
		<form method="POST" enctype="multipart/form-data">
			

			{% csrf_token %}
			{{ form.as_p }}

			<input type="submit" class="btn btn-default"  value="Submit" name="">



		</form>


	</div>
{% endblock %}
</body>
</html>