

{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
<a href="{% url 'electronics' %}"><img src="https://seasonsway.com/media/catalog/category/0002578_electronics_1_2.jpeg" width="1000px" height="400px"><img src="{% static 'next.png' %}" width="40px" height="40px"></a><br>

<br>

<a href="{% url 'books' %}"><img src="{% static 'books.png' %}" width="1000px" height="400px"><img src="{% static 'next.png' %}" width="40px" height="40px"></a><br>
<br>
<a href="{% url 'fashion' %}"><img src="{% static 'fashion.png' %}" width="1000px" height="400px"><img src="{% static 'next.png' %}" width="40px" height="40px"></a><br>
</div>

{% endblock %}

